// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$carbon_orange: #FE7E3A;
$carbon_orange_light_1: #FF8F23;
$carbon_orange_light_2: #FE7E3A;
$carbon_orange_light_3: #FE7E3A;
$carbon_green: #8AD592;
$carbon_green_light_1: #8AEAA3;
$carbon_green_light_2: #B9FFD1;
$carbon_green_light_3: #E0FEDD;
$carbon_black: #1C1C1C;
$carbon_beige: #F5F3ED;
