// Specific CSS for your home-page
body{
 text-align:center;
 // Line 1
  display:flex;
 // Line 2
  flex-direction:column;
 // Line 3
  min-height:100vh;
  background-color: $carbon_beige;
}

.form-control {
  background-color: $carbon_beige;

}

.wrapper{
  flex:1;
}

.logo{
  background-image: url('logo.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  z-index: -1;
  position: absolute;

}

.home-container{

  // margin: 10px 300px;
  // color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: $carbon_orange;
  .simulation {
    padding-top: 80px;
    p {
      text-align: center;
      color: beige;
    }
    .demarrage {
      position: relative;
      // bottom: 50%;
      // right: 50%;
      text-align: -webkit-center;
    }
  }

  .about {
    padding: 4%;
    background-color: white;
    h3 {
      border-top: solid;
      border-color: $carbon_orange;
      padding-top: 3%;
      color: $carbon_black;
      padding-bottom: 4%;
      text-align: start;
    }
    p {
      text-align: start;
    }
  }

  .projet {
    padding: 4%;
    background-color: $carbon_beige;

    h3 {
      border-top: solid;
      padding: 3%;
      border-color: $carbon_orange;
      text-align: start;
    }
  }

  .contact {
    height: 400px;
    list-style-type: none;
  }
  // , width: 200, height: 200, crop: :fit
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 16s linear infinite;
  -moz-animation: rotating 16s linear infinite;
  -ms-animation: rotating 16s linear infinite;
  -o-animation: rotating 16s linear infinite;
  animation: rotating 16s linear infinite;
  position: relative;
}
