<h1>Iotproducts#index</h1>
<p>Find me in app/views/iotproducts/index.html.erb</p>
  <%= link_to "Customers", new_usecase_iotproduct_customer_path(@iotproduct) %>
  <%= link_to "Home Page", root_path %>
