<footer class="text-center text-white" style="background-color: #f1f1f1;">

  <!-- Copyright -->
  <div class="text-center text-dark carbon_green_background2" >
    © 2022 Copyright:
    <a class="text-dark" href="https://mavana.earth">Mavana</a>
     <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/mavana/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
  </div>
  <!-- Copyright -->
</footer>
