<h1>Planifiez un rendez-vous avec l'un de nos experts</h1>

<div class="container d-flex justify-content-center mb-3" >
  <iframe src='https://outlook.office365.com/owa/calendar/CarbonBounty@NETORGFT7736297.onmicrosoft.com/bookings/' width='100%' height='100%' scrolling='yes' style='border:0;width:100wh;height:100vh; border: radius 5px;'>>Planifier en ligne<</iframe>
  <div class="profile m-4">
    <div>
      <%= image_tag "https://res.cloudinary.com/mavana/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1649408870/CarbonBounty/Jean-Francois-marque-1290x540_r6nrp4.jpg", class: "avatar-profile", alt: "avatar-profile" %>
    </div>
    <div>
      <div class="mt-2">
        <h3>Expert IoT </h3>
        <a href="https://mavana.earth/jean-francois-pinson/" class = "text-decoration:none btn-simple btn-simple:hover">
        Découvrir son portait</a>
      </div>
      </div>
      <div class="profile m-4">
        <div>
          <%= image_tag "https://res.cloudinary.com/mavana/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1649408867/CarbonBounty/Kelly-marque-1290x540_udimrd.jpg", class: "avatar-profile", alt: "avatar-profile" %>
        </div>
        <div class="mt-2">
          <h3>Expert IoT</h3>
        <a href="https://mavana.earth/kelly-le-goff/" class = "text-decoration:none btn-simple btn-simple:hover">
        Découvrir son portait</a>
        </div>
      </div>
      <div class="profile m-4">
      <div>
        <%= image_tag "https://res.cloudinary.com/mavana/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1649408865/CarbonBounty/Gillo-marque-1290x540_asiw1w.jpg", class: "avatar-profile", alt: "avatar-profile" %>
      </div>
      <div class="mt-2">
        <h3>Expert IoT</h3>
        <a href="https://mavana.earth/gillo-malpart/" class = "text-decoration:none btn-simple btn-simple:hover">
        Découvrir son portait</a>
      </div>
    </div>
  </div>
</div>
