<h1>Customers#show</h1>
<p>vas y book un rdv</p>
<a href='https://outlook.office365.com/owa/calendar/CarbonBounty@NETORGFT7736297.onmicrosoft.com/bookings/'>Planifier en ligne</a>
<div class="container d-flex justify-content-center">
  <div class="profile m-4">
    <div>
      <%= cl_image_tag("https://res.cloudinary.com/mavana/image/upload/v1649408870/CarbonBounty/Jean-Francois-marque-1290x540_r6nrp4.jpg", class: "avatar-profile", alt: "avatar-profile", crop: :thumb, gravity: :face) %>
    </div>
    <div class="mt-2">
      Expert Iot
    </div>
  </div>
  <div class="profile m-4">
    <div>
      <%= cl_image_tag("https://res.cloudinary.com/mavana/image/upload/v1649408867/CarbonBounty/Kelly-marque-1290x540_udimrd.jpg", class: "avatar-profile", alt: "avatar-profile", :crop=>"thumb", :gravity=>"face") %>
    </div>
    <div class="mt-2">
    Experte Iot
    </div>
  </div>
  <div class="profile m-4">
    <div>
      <%= cl_image_tag("https://res.cloudinary.com/mavana/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1649408865/CarbonBounty/Gillo-marque-1290x540_asiw1w.jpg", class: "avatar-profile", alt: "avatar-profile", crop: :thumb, gravity: :face) %>
    </div>
    <div class="mt-2">
      Expert Iot
    </div>
  </div>
</div>
