<div class="carbon-background logo">
  <div class="container">
    <h1>Pages#home</h1>
    <%= link_to "Use Cases", usecases_path %>
    <%# <%= cl_image_tag("f9rsiiz1uaw0vu0aowap",width: 400, height: 300, crop: :fill) %>
  </div>
</div>
