
<div class="home-container">
    <section class = "simulation d-flex">
      <div class="demarrage">
      <h3>Carbon Bounty</h3>
      <p>Carbon Bounty, trouver le meilleur compromis entre efficacité environnementale, économique, technologique et social.</p>
      <%= link_to "Commencez votre simulation gratuite", usecases_path, class:"btn-green" %>
      </div>
      <div>
      <%= image_tag "https://res.cloudinary.com/mavana/image/upload/v1649264996/CarbonBounty/Groupe_187_wftmpl.png", class: "animate__animated animate__slideInRight animate__delay-1s", width: 700, height: 600, crop: :fit %>
      </div>
    </section>
    <section class = "about d-flex">
    <div>
      <h3> En savoir plus au sujet de Carbon Bounty</h3><a id = "about"></a>
        <p>La raison d’être de Carbon Bounty est d’aider les entreprises et collectivités à identifier dans leurs activités quotidiennes les émissions de gaz à effet de serre qui peuvent être réduites à l’aide d’objets connectés.
        Cet outil doit permettre aux organisations de cartographier de manière intuitive leurs activités et de recevoir des recommandations de solutions connectées, écoresponsables et pertinentes pour leur situation
        Carbon Bounty® est un logiciel d’aide à la décision pour les porteurs de projets qui souhaitent prendre en compte la triple dimension financière, environnementale et sociétale de leurs projets</p>
    </div>
    <%= image_tag "https://res.cloudinary.com/mavana/image/upload/v1649265010/CarbonBounty/undraw_welcoming_re_x0qo_1_nv75fo.png", class: "animate__animated animate__slideInRight animate__delay-1s", width: 400, height: 400, crop: :fit %>
    </section>

    <section class = "projet">
      <h3>LA MARCHE À SUIVRE</h3>
      <div class = "timeline">
      <p>Je définis le périmètre de mon projet et de mes objectifs.</p>
      <p>Je recense toutes les activités de mon projet et je les séquence.</p>
      <p>Je quantifie chaque activité et flux entre activités en 3 dimensions (numéraire, CO2e et humain).</p>
      <p>Je reçois des recommandations de solutions IoT.</p>
      <p>Je choisis une ou plusieurs solutions que je decide d'implimenter.</p>
      <p>Je contacte Mavana pour la ou les mettre en place.</p>
      <p>Je fais le bilan de l'initiative.</p>
      </div>
    </section>

    <section class = "contact d-flex">
      <%= image_tag "https://res.cloudinary.com/mavana/image/upload/v1649264991/CarbonBounty/D%C3%A9coration_bulles_jztn9a.png", width: 250, height: 250, crop: :fit %>
      <div>
      <h3>CARBON BOUNTY</h3>
      <p>L’IoT pour l’environnement</p>
      </div>
      <div>
      <h3>LES PAGES</h3>
      <li>Qui sommes-nous ?</li>
      <li>Le projet</li>
      <li>La marche à suivre</li>
      <li>Pourquoi nous choisir ?</li>
      <li>Nos plans & formules</li>
      <li>FAQ</li>
      <li>Contact</li>
      </div>
    </section>

</div>
