.container-customer {
  background-color: #005f73;
}

.title-black {
  padding: 3%;
  font-size: 24px;
  color: $carbon_black;
}

.title {
  padding: 5%;
  font-size: 32px;
  color: whitesmoke;
  text-decoration: underline;
}

.text {
  padding: 3%;
  color: whitesmoke;
}

.paragraph {
  color: whitesmoke;
  text-align: center;
}

.title-green {
  padding: 3%;
  font-size: 24px;
  color: $carbon_green;
  font-weight: bolder;
}

.sunshine{
  background: radial-gradient(circle, rgba(255,225,126,1) 0%, rgba(254,126,58,1) 100%);
}
