.container-customer {
  background-color: antiquewhite;
}

.h4 {
  padding: 3%;
  font-size: 16px;
  color: $carbon_black;
}

.title {
  padding: 5%;
  font-size: 32px;
  color: $carbon_black;
  text-decoration: underline;
}

.text {
  padding: 3%;
  color: $carbon_black;
}

.paragraph {
  color: $carbon_black;
  text-align: center;
}
