.container-customer {
  background-color: antiquewhite;
}

.title-black {
  padding: 3%;
  font-size: 24px;
  color: $carbon_black;
}

.title {
  padding: 5%;
  font-size: 32px;
  color: $carbon_black;
  text-decoration: underline;
}

.text {
  padding: 3%;
  color: $carbon_black;
}

.paragraph {
  color: $carbon_black;
  text-align: center;
}

.title-green {
  padding: 3%;
  font-size: 24px;
  color: $carbon_green;
  font-weight: bolder;
}
