footer{
  bottom: 0;
  width: 100%;
  position: fixed;
}

.carbon_green_background1{
  background-color: $carbon_green_light_1;
}

.carbon_green_background2{
  background-color: $carbon_green_light_2;
}

.carbon_green_background3{
  background-color: $carbon_green_light_3;
}
