.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
height: 60px;
}

.nav-item {
  padding-left: 50px;
}
a{
  text-decoration: none;
}

a:hover{
  color: rgba(0, 0, 0, 0.55);
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 5px;
}
