.container-product {
  width: 90%;
  margin: 0 auto;
  background-color: $white;
  background-position: center;
}

h2 {
  padding: 3%;
}

// .grid-displayer {
//   display: grid;
//   grid-template-columns: ;
// }

.fiche {
 background-color: $white;
 background-position: center;
 // background-size: contain;
 background-size: cover;
 background-repeat: no-repeat;
 // height: 300;
 // width: 100%;
 text-shadow: 7em;
 border-radius: 5px;
}
// width:400px;height:200px;

.produit {
  flex-direction: row-reverse;
  padding: 3%;
  text-align: start;
  // height: 250px;
  .liste {
    padding-right: 2%;
  }

}

// .image {
//   padding: 2%;
// }

.description {
  text-align: start;
  padding: 2%;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-size: 20px;
}

h5 {
  color: $carbon_green;
  text-transform: lowercase;
}

h6 {
  color: $carbon_beige;
}

p {
  color: $carbon_black;
  font-weight: bold;
  -webkit-text-stroke: thin;
  text-align: start;
}

.rec {
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 8%;
}

.choice {
  padding: 3%;
  justify-content: space-between;
  position: relative;
  margin: 30px;

}

.produit-partiale {
  height: 250px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 3%;
  text-align: start;
}
