
<div class = "container">

  <h2 class="text-center m-3 animate__animated animate__fadeInDown">Cas d'usages</h2>
  <%= form_tag usecases_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control text-color",
      placeholder: "Trouvez un cas d'usage..."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="row justify-content-center">
    <% @usecases.each do |usecase| %>

      <div class="card-product col-lg-5 m-2 animate__animated animate__fadeInUp">
        <img src="https://res.cloudinary.com/mavana/image/upload/v1649251258/CarbonBounty/iotproduct4KHUB_svokwa.jpg" />
        <div class="card-product-infos">
          <%= link_to usecase.name, usecase_path(usecase) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
