
<div class = "container">

<h2 class="text-center m-3">Cas d'usages</h2>
  <div class="row justify-content-center">
    <% @usecases.each do |usecase| %>
      <%# <div class="card-category col-md-6 col-sm-12 card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/mavana/image/upload/v1649251258/CarbonBounty/iotproduct4KHUB_svokwa.jpg)">
        <%= link_to usecase.name, usecase_path(usecase) %>
      <%# </div> %>
      <div class="card-product col-lg-5 m-2">
        <img src="https://res.cloudinary.com/mavana/image/upload/v1649251258/CarbonBounty/iotproduct4KHUB_svokwa.jpg" />
        <div class="card-product-infos">
          <%= link_to usecase.name, usecase_path(usecase) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
