<h1>Usecases#index</h1>
<p>Find me in app/views/usecases/index.html.erb</p>

<div class = "container">
  <h2>Cas d'usage</h2>

  <div class="row">
    <% @usecases.each do |usecase| %>
      <div class="col-lg-4 col-md-6 col-sm-12 card">
        <%= link_to usecase.name, usecase_path(usecase) %>
      </div>
    <% end %>
  </div>
</div>
