<h1>Usecases#show</h1>
<p>Find me in app/views/usecases/show.html.erb</p>
<h2><%= @usecase.name %></h2>
<div>
  <% @usecase.casesiots.each do |result|%>
  <%= name = result.iotproduct.product_name %>
  <%= link_to "Decouvrir la fiche produit", usecase_iotproduct_path(result) %>
  <% end %>
</div>
