<h2>Afin de <%= @usecase.name %> nous vous recommandons les solutions connectées suivantes:</h2>
<div class = "container">
  <div>
      <% @usecase.casesiots.each do |result|%>
      <div class = "solutions col-lg-5 m-3 ">
        <%= render '/iotproducts/ficheproduit', result: result.iotproduct %>
        <%= link_to "Decouvrir la fiche produit", casesiot_iotproduct_path(result, result.iotproduct.id), class: "btn-green" %>
      </div>
        <% end %>
    </div>
    <a name = "options"></a>
</div>
