<h2>Afin de <%= @usecase.name %> nous vous recommandons les solutions connectées suivantes:</h2>
<div class = "container col-6">

  <% @results.each do |result|%>
  <div>
  <%= render '/iotproducts/ficheproduit', result: result.first %>
    <%= link_to "Decouvrir la fiche produit", casesiot_iotproduct_path(result.last, result.first), class: "btn-green" %>
    </div>
    <% end %>
</div>


<%# @usecase.casesiots.iotproduct.eco_score.sort.reverse %>
