<h2>Afin de <%= @usecase.name %> nous vous recommandons les solutions connectées suivantes:</h2>
<div class = "d-flex">
  <% @usecase.casesiots.each do |result|%>
  <div>
  <%= render '/iotproducts/ficheproduit', result: result.iotproduct %>
    <%= link_to "Decouvrir la fiche produit", casesiot_iotproduct_path(result, result.iotproduct.id) %>
    </div>
    <% end %>
</div>
