<h2><%= @usecase.name %></h2>
<div>
  <% @usecase.casesiots.each do |result|%>
  <%= name = result.iotproduct.product_name %>
  <%= link_to "Decouvrir la fiche produit", casesiot_iotproduct_path(result, result.iotproduct.id) %>
  <%= link_to "Choisir cette solution", new_casesiot_customer_path(result) %>
  <% end %>

</div>
